doctype Html 
Html 
  head
    meta(charset='utf-8')
  body
    form(action='/info')
      p
        input(type='text' name='id' placeholder='ID/Username')    
        input(type='text' name='pw' placeholder='Password')
          
      p
        input(type='submit' value='Clear')  
        input(type='submit' value='Login')  
