doctype Html
Html
 head
   meta(charset='utf-8')
   // 주석처리 이것은 보인다.
   //- 이것은 안보인다
   body
    ol 
      li Coffee
      li Red Ginseng Tea
      li Milk
    ul
      li Coffee
      li Red Ginseng Tea
      li Milk
   
