doctype Html
Html
  head
   meta(charset='utf-8')
   // 주석처리 이것은 보인다.
   //- 네놈이 진정 주석이었구나! invisible comment!!!
   //- ALIGN!!!!!!!!!!!!!!!!!!! 
    
   title= tl
   //-  = 변수, #{변l}
  body
    ol  //- Ordered list, number will be added automatically
      -for (var i=0; i<10; i++)
        li Coffee
    ol    
      -for (var i=0; i<3; i++)
        li Red Ginseng Tea      
        li Red Ginseng Milk
    
    ul  //- Unordered list
      li Coffee
      li Red Ginseng Tea
      li Red Ginseng Milk
